#page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 239, 239);
}

.errorimage {
  max-width: 500px;
  padding: 10px;
}

.errortext {
  max-width: 500px;
  padding: 10px;
  font-weight: bold;
  color: gray;
}
